<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>


  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>


  <servlet>
    <servlet-name>jersey</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>com.school.company.controller.rest</param-value>
    </init-param>
    
    <init-param>
      <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
      <param-value>true</param-value>
    </init-param>

    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>jersey</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>register</servlet-name>
    <servlet-class>com.school.company.controller.register.RegisterServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>employeeList</servlet-name>
    <servlet-class>com.school.company.controller.listEmployee.EmployeeListServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>employeeList</servlet-name>
    <url-pattern>/employeelist</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>updateEmployee</servlet-name>
    <servlet-class>com.school.company.controller.UpdateEmployee.UpdateEmployeeServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>updateEmployee</servlet-name>
    <url-pattern>/updateEmployee</url-pattern>
  </servlet-mapping>


</web-app>
